@model dynamic

@{
    ViewBag.Title = "Encrypted Email App";
}

<a class="btn btn-primary" href="@Url.Action("SendMessageIndex")" role="button">Send Message</a>
<a class="btn btn-primary" href="@Url.Action("ViewMessagesIndex")" role="button">View Messages</a>